<form [formGroup]="form" (ngSubmit)="create()" class="form-vertical">
	<mat-form-field appearance="fill" class="form-field">
		<mat-label>Nombres</mat-label>
		<input matInput type="text" formControlName="nombres" required />
	</mat-form-field>

	<mat-form-field appearance="fill" class="form-field">
		<mat-label>Apellidos</mat-label>
		<input matInput type="text" formControlName="apellidos" required />
	</mat-form-field>

	<mat-form-field appearance="fill" class="form-field">
		<mat-label>Email</mat-label>
		<input matInput type="text" formControlName="email" required />
	</mat-form-field>

	<mat-form-field appearance="fill" class="form-field">
		<mat-label>Telefono</mat-label>
		<input matInput type="text" formControlName="telefono" required />
	</mat-form-field>

	<div class="form-actions">
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Crear</button>
	</div>
</form>

<table mat-table [dataSource]="ds" class="mat-elevation-z8">
	<ng-container matColumnDef="nro">
		<th mat-header-cell *matHeaderCellDef>Nro.</th>
		<td mat-cell *matCellDef="let item; let i = index">
			{{ i + 1 }}
		</td>
	</ng-container>

	<ng-container matColumnDef="nombres">
		<th mat-header-cell *matHeaderCellDef>Nombres</th>
		<td mat-cell *matCellDef="let item">{{ item.nombres }}</td>
	</ng-container>

	<ng-container matColumnDef="apellidos">
		<th mat-header-cell *matHeaderCellDef>Apellidos</th>
		<td mat-cell *matCellDef="let item">{{ item.apellidos }}</td>
	</ng-container>

	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef>Email</th>
		<td mat-cell *matCellDef="let item">{{ item.email }}</td>
	</ng-container>

	<ng-container matColumnDef="telefono">
		<th mat-header-cell *matHeaderCellDef>Teléfono</th>
		<td mat-cell *matCellDef="let item">{{ item.telefono }}</td>
	</ng-container>

	<ng-container matColumnDef="fecha_registro">
		<th mat-header-cell *matHeaderCellDef>Fecha Registro</th>
		<td mat-cell *matCellDef="let item">{{ item.fecha_registro }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator #matPag [pageSizeOptions]="[3, 5]" [pageSize]="3" showFirstLastButtons></mat-paginator>

<div class="spinner-container" *ngIf="isLoading">
	<mat-spinner [diameter]="30" color="primary"></mat-spinner>
	<span class="spinner-text">Cargando...</span>
</div>
